#at-nav-button {
	background-color:  #F8F8F8;
	color: black;
}

#at-btn {
	background-color:  #F8F8F8;
	color: black;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
  border-bottom: 1px solid #2196F3 !important;
  -webkit-box-shadow: 0 1px 0 0 #2196F3 !important;
  -moz-box-shadow: 0 1px 0 0 #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
color: #2196F3 !important;
}