html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

.content {
  padding-top: 70px;
}

.selected{
    background-color: yellow;
}