<template name="callList">
<div class="card-panel">
		{{#with callList}}
			<p>Range {{date1}} - {{date2}}</p>
		{{/with}}
		<table class="striped">
			<thead>
				<tr>
					<th></th>
					<th>Date</th>
					<th>Calling Number</th>
					<th>Called Number</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				{{#each callList.calls}}
				<tr class="{{selected.myClass}}">
					<td><a class="{{selected.playerState}} btn-floating btn" href="{{this.RecordingUrl}}"><i class="{{selected.statusIcon}} left"></i></a></td>
					<td>{{moment this.createdAt}}</td>
					<td>{{cleanSipNumber this.From}}</td>
					<td>{{cleanSipNumber this.Called}}</td>
					<td>{{fromSeconds this.RecordingDuration}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>