<template name="callList">

<div class="container">
	<div class="section">
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<h4 class="header center blue-text thin">{{userName}}'s Call Recordings</h4>
			</div>
		</div>
	</div>
</div>

<div class="container">
<div class="card-panel">
		<table class="striped">
			<thead>
				<tr>
					<th></th>
					<th>Date</th>
					<th>Calling Number</th>
					<th>Called Number</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				{{#each callList}}
				<tr class="{{selected.myClass}}">
					<td><a class="{{selected.playerState}} btn-floating btn" href="{{this.RecordingUrl}}"><i class="{{selected.statusIcon}} left"></i></a></td>
					<td>{{moment this.createdAt}}</td>
					<td>{{cleanSipNumber this.From}}</td>
					<td>{{cleanSipNumber this.Called}}</td>
					<td>{{fromSeconds this.RecordingDuration}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
</template>