<template name="callList">
<main class="ui page grid padded">
	<div class="row">
	    <div class="center aligned column">
	        <h1 class="ui header">{{userName}}'s Call Recordings</h1>
	    </div>
	</div>

	<div class="row">
		<div class="column">
			<table class="ui large blue table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Called Number</th>
						<th>Calling Number</th>
						<th>Duration</th>
						<th>Recording</th>
					</tr>
				</thead>
				<tbody>
				{{#each callList}}
					<tr>
						<td>{{moment this.createdAt}}</td>
						<td>{{cleanSipNumber this.Called}}</td>
						<td>{{cleanSipNumber this.From}}</td>
						<td>{{fromSeconds this.RecordingDuration}}</td>
						<td><audio src="{{this.RecordingUrl}}" preload="none" controls> </audio></td>

					</tr>
				{{/each}}
				</tbody>
				</table>
		</div>
	</div>
    </main>
</template>
