<template name="footer">
<footer class="page-footer grey lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text">Call Recorder</h5>
        <p class="grey-text">Powered by <a href="http://wcs.com" class="grey-text">networkWCS</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
      <ul class="right">
      {{#if currentUser}}
      <li><a href="#">{{> atNavButton}}</a></li>
      {{/if}}

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container right-align grey-text">
      © 2015 networkWCS

    </div>
  </div>
</footer>
</template>